.section {
    min-height: 800px;
}

.side-nav {
    float: left;
    height: 500px;
    border-right: solid 2px #dad9d9;
    padding: 20px;
    padding-right: 70px;
}

.side-nav a {
    display: block;
}

.main {
    margin-left: 180px;
}

.sub {
    padding-top: 100px;
}

.panel {
    margin: 0 auto;
    height: 300px;
}

@media (min-width: 1024px) {
    .panel {
        width: 500px;
    }
    .field {
        margin: 0 auto;
        width: 450px;
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .panel {
        width: 300px;
    }
    .field {
        margin: 0 auto;
        width: 250px;
    }
}

.field {
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.control {
    clear: none;
}

.button.is-halfwidth {
    margin: 0 auto;
    display: flex;
    width: 30%;
}