.section {
    min-height: 800px;
}

.side-nav {
    float: left;
    height: 500px;
    border-right: solid 2px #dad9d9;
    padding: 20px;
    padding-right: 70px;
}

.side-nav a {
    display: block;
}

.main {
    margin-left: 180px;
    
}

.sub {
    padding-top: 100px;
}

.pagination {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
}

.table {
    margin: 0 auto;
}

th:nth-child(1) { width: 80px;}
th:nth-child(2) { width: 400px;}
th:nth-child(3) { width: 150px;}

.none {
    text-align: center;
}