form {
    margin: 0 auto;
}

@media (min-width: 1024px) {
    form {
        width: 500px;
    }
    .panel-block {
        margin: 0 auto;
        width: 450px;
    }
}

@media (max-width: 768px) {
    form {
        width: 300px;
    }
    .panel-block {
        margin: 0 auto;
        width: 250px;
    }
}

.panel-block {
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button.is-halfwidth {
    margin: 0 auto;
    display: flex;
    width: 80%;
}

.panel-block:nth-child(5) {
    padding-bottom: 30px;
}