doctype html
html
  head
    include head
    link(rel='stylesheet', href='../stylesheets/aboutUs.css', type='text/css')
  body
    include nav
    section.section.is-medium
        .container
            .members
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src='/images/wha.png', alt='Placeholder image')
                    .card-content
                        .media
                            .media-left
                                figure.image.is-48x48
                                    img(src='/images/wha.png', alt='Placeholder image')
                            .media-content
                                p.title.is-4 Guardian_demoN
                        .content
                            | WHOAMIANDWHEREISTHISPLACE
                            br
                            | + M O R T I S +
                            br
                            a #C/C++ 
                            a #webFE/BE 
                            a #MCU(HW/SW)
                            br
                            a #Art/Installations 
                            a #SpecialEffect/inst.
                            br
                            | Email : 
                            a guardianx0425@gmail.com
                            br
                            | Hobby : 
                            a Betatesting / Gaming / Education
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src='/images/Tiger.jpg', alt='Placeholder image')
                    .card-content
                        .media
                            .media-left
                                figure.image.is-48x48
                                    img(src='/images/Tiger.jpg', alt='Placeholder image')
                            .media-content
                                p.title.is-4 Lai_Khan
                        .content
                            | 호기심이 많고 이것저것 만들어보는 것을 좋아하는 초보 개발자입니다.^^
                            br
                            br
                            a #C/C++ 
                            a #HTML/CSS/JS 
                            a #Node.js 
                            a #MySQL 
                            br
                            | Email : 
                            a seogong9026@gmail.com
                            br
                            | Hobby : 
                            a Game / Guitar / Photography
    include footer
