nav.navbar.has-shadow.is-spaced
      .container
        .navbar-brand
          a.navbar-item(href='/')
            img(src='/images/forteb_Logo.png', width='111', height='28')
          a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarMenu')
            span(aria-hidden='true')
            span(aria-hidden='true')
            span(aria-hidden='true')
        #navbarMenu.navbar-menu
          .navbar-start
            //- a.navbar-item(href='/')
            //-   span.icon.has-text-info
            //-     i.fas.fa-home.fa-w-14
            //-   span Home
            a.navbar-item(href='/music/page/1')
              span.icon.has-text-primary
                i.fas.fa-search
              span 악보 찾기
            a.navbar-item(href='/upload')
              span.icon.has-text-warning
                i.fas.fa-upload
              span 업로드
            .navbar-item.had-dropdown.is-hoverable
              a.navbar-link(href='#')
                | More
              .navbar-dropdown
                a.navbar-item(href='/more/aboutus') About Us
                a.navbar-item(href='/more/contact') Contact
          .navbar-end
            .navbar-item
              .buttons
                if(isLogined)
                  a.button.is-primary(href='/') 로그아웃
                  a.button.is-danger(href='/mypage') 마이페이지
                else
                  a.button.is-primary(href='/auth/login') 로그인
                  a.button.is-danger(href='/auth/signup') 회원가입