nav.navbar.has-shadow.is-spaced
      .container
        .navbar-brand
          a.navbar-item(href='/')
            img(src='https://bulma.io/images/bulma-logo.png', width='112', height='28')
          a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarMenu')
            span(aria-hidden='true')
            span(aria-hidden='true')
            span(aria-hidden='true')
        #navbarMenu.navbar-menu
          .navbar-start
            //- a.navbar-item(href='/')
            //-   span.icon.has-text-info
            //-     i.fas.fa-home.fa-w-14
            //-   span Home
            a.navbar-item(href='/music')
              span.icon.has-text-primary
                i.fas.fa-search
              span 악보 찾기
            a.navbar-item(href='/upload')
              span.icon.has-text-warning
                i.fas.fa-upload
              span 업로드
            .navbar-item.had-dropdown.is-hoverable
              a.navbar-link(href='#')
                | More
              .navbar-dropdown
                a.navbar-item(href='#') About Us
                a.navbar-item(href='#') Contact
          .navbar-end
            .navbar-item
              .buttons
                a.button.is-primary(href='/auth/login') 로그인
                a.button.is-danger(href='/auth/signup') 회원가입