form(action='/upload/process', method='post', enctype="multipart/form-data")
    input(type='text', placeholder='악보 이름', name='musicTitle')
    input(type='file', name='gpfile')
    button(type='submit') 업로드
