doctype html
html
  head
    include head
    link(rel='stylesheet', href='../stylesheets/upload.css', type='text/css')
  body
    include nav
    section.hero.is-medium.is-warning.is-bold
        .hero-body
            .container.has-text-centered
                h1.title
                    | 기타 프로 파일을 업로드하고 그에 맞는 반주를 들어보세요!
    section.section.is-medium
        .container
            form.panel.is-warning(action='/upload/process', method='post', enctype="multipart/form-data")
                p.panel-heading.has-text-centered
                    | 악보 파일 업로드
                .panel-block
                    .control.has-icons-right
                        input.input.is-medium.has-text-centered(type='text', placeholder='악보 이름', name='musicTitle')
                        span.icon.is-right
                            i.fas.fa-music(aria-hidden='true')
                .panel-block
                    .file.is-centered.is-boxed.is-warning.has-name
                        label.file-label
                            input.file-input(type='file', name='gpfile')
                            span.file-cta
                                span.file-icon
                                    i.fas.fa-upload
                                span.file-label
                                    | Guitar Pro 파일 업로드
                            span.file-name
                                //- changes here
                                text.file-name-text
                                    | file name
                .panel-block
                    button.button.is-link.is-outlined.is-halfwidth(type='submit') 업로드
    include footer
